<!DOCTYPE html>
<html>
<head>
    <title>Awesome demo</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
</head>
<body>
    


	<div class="container" ng-app ng-controller="BasketController">

		<h2>Super awesome headline</h2>
		
		<label for="quantity">Quantity</label>
		<input type="text" placeholder="quantity" id="quantity" ng-model="quantity">
		
		<label for="unitprice">Unit price</label>
		<input type="text" placeholder="unit price" id="unitprice" ng-model="unitprice">
		
		<br />
		<button class="btn btn-primary" ng-click="addRow()">
			<i class="icon-plus-sign icon-white"></i> Add row
		</button>
		
		
		<div ng-show="basketContents.length>0">
			<table>
				<thead><tr>
					<th>Quantity</th>
					<th>Unit price</th>
					<th>Row price</th>
				</tr></thead>
				<tbody>
					<tr ng-repeat="row in basketContents">
						<td><input type="text" ng-model="row.quantity"></td>
						<td><input type="text" ng-model="row.unitprice"></td>
						<td>{{ rowPrice(row) }}</td>
					</tr>
				</tbody>
			</table>
			
			<div>Total price: {{ basketPrice() }}</div>



			<hr />
			<br />
			<button class="btn btn-danger" ng-click="sendBasket()" ng-hide="saved">
				<i class="icon-play icon-white"></i> Send
			</button>
			<div class="alert alert-success" ng-show="saved">
				Saved!
			</div>
			
			
		</div>
		
		
    </div>



	<script src="BasketController.js"></script>
	<script src="lib/angular.min.js"></script>
</body>
</html>
